@import "grilla";
$color_institucional: #287777;

body {
    font-family: 'Shippori Antique B1', sans-serif;
	background-color: $color_institucional;
}

ul {
    list-style: none;
    li {
        margin: 1rem;
        display: inline-block;
        a {
            color: $color_institucional;
            text-decoration: none;
            margin: 1rem;
            &:hover {
                color: #ccc;
                font-weight: 500;
            }
        }
    }
}

$parrafos:(parrafo1:#6dd63c, parrafo2:#000000, parrafo3:#e1f717);

@each $clave, $valor in $parrafos {
    .parrafo-#{$clave} {
        color:$valor;
    }
}

$estilos:(color:rgb(12, 94, 80), centro:center);

.estilo {
    color: map-get($estilos, color);
    text-align: map-get($estilos, centro);
}

.estilo--nueva {
    @extend .estilo;
    font-size: 16px;
    color: forestgreen;
}

@mixin margins($marginl, $marginr) {
    margin-left: $marginl;
    margin-right: $marginr;
}

#icono {
    @include margins(50px, 15px )
}